<div class="row">
  <div class="small-6 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camp_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <% if can? :read, Instructor %>
      <%= render partial: 'camp_instructors' %>
    <% end %>
    <% if can? :read, Registration %>
      <%= render partial: 'registrations' %>
    <% end %>
    <% if current_user.nil? || current_user.role == "admin"%>
      <div class="panel clearfix">
        <strong><%= link_to @camp.location.name, location_path(@camp.location) %></strong><br/></br>
        <%= image_tag @camp.location.create_map_link %>
        </br>
        <br>
      </div>
    <% end %>
  </div>
  <div class="small-1 columns">
  </div>
</div>