<h3>Active Families</h3>

<table class="table">
  <tr>
    <th width="200">Family Name</th>
    <th width="200">Parent</th>
    <th width="400">Phone</th>
    <th>Students</th>
    <% if can? :edit, Family %>
      <th>Family Payment Report</th>
    <% end %>
    <% if can? :edit, Family %>
      <th></th>
    <% end %>
  </tr>

<% @active_families.each do |family| %>
  <tr>
    <td><%= link_to family.family_name, family_path(family) %></td>
    <td><%= family.parent_first_name %></td>
    <td align="center"><%= number_to_phone family.phone %></td>
    <td align="center"><%= family.students.size %></td>
    <% if can? :edit, Family %>
      <td><%= link_to 'Payment Report', family_path(family), class: "button tiny radius" %></td>
    <% end %>
    <% if can? :edit, Family %>
      <td><%= link_to 'Edit', edit_family_path(family), class: "button tiny radius" %></td>
    <% end %>
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @active_families, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>