<%= simple_nested_form_for @instructor, :html => { :multipart => true } do |instructor_form| %>
   <div class="row">
      <div class="small-5 columns">
        <fieldset>
          <legend><%= controller.action_name.capitalize %> Instructor</legend>
          <%= render :partial => "instructor_fields", :locals => { :f => instructor_form } %>
        </fieldset>
      </div>
      <div class="small-2 columns">
        &nbsp;
      </div>

    <div class="small-5 columns">
      <legend>User Login</legend>
        <div>
          <%= instructor_form.simple_fields_for :user do |user_form| %>
            <%= render :partial => "user_fields", :locals => { :f => user_form } %>
          <% end %> 
          <p>
            <br />
          </p>
        </div> 
      </div>
    </div>
    <div class="form-actions">
      <%= instructor_form.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', instructors_path, :class => 'button secondary' %>
    </div>
  <% end %>