<p class="supertiny">&nbsp;</p>

<div class="footer">
	<div class="row">
		<div class="medium-4 medium-4 push-8 columns">
			<ul id="homesocial">
				<li>
					<a href="http://www.twitter.com/Zurb">
						<%= link_to(image_tag("twitter-icon.png", size: "48x48", border: 0))  %>&nbsp;
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com" class="facebook">
						<%= link_to(image_tag("facebook-icon.png", size: "48x48", border: 0))  %>&nbsp;
					</a>
				</li>
				<li>
					<a href="http://www.twitter.com/Zurb">
						<%= link_to(image_tag("linkedInIcon.png", size: "48x48", border: 0))  %>&nbsp;
					</a>
				</li>
			</ul>
		</div>
		<div class="medium-8 medium-8 pull-4 columns">
			<br>
			<ul id="nav">
				<li><a href="#"></a><h5><%= link_to "ChessCamp", home_path %></h5></li>
				<li><a href="#"></a><h5><%= link_to "About", about_path %></h5></li>
				<li><a href="#"></a><h5><%= link_to "Contact", contact_path %></h5>  </li>
				<li><a href="#"></a><h5><%= link_to "Privacy Policy", privacy_path %></h5> </li>
				</br>
				</br>
				</br>
				<p>&nbsp;&nbsp;&nbsp;Webmaster: <%= mail_to "ppodnies@andrew.cmu.edu", "Peter Podniesinski", :encode => "javascript" %>
			    &nbsp;&nbsp;Copyright 2014
			    </p>
			</ul>		    
		</div>

	</div>
</div>