  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%= link_to image_tag('amcc_logo.png'), home_path %>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <!-- options for curriculums -->
          <li class="has-dropdown">
            <%= link_to "Curriculums", curriculums_path %>
            <ul class="dropdown">
              <li><%= link_to "List Curriculums", curriculums_path %></li>
              <% if can? :create, Curriculum %>
                <li><%= link_to "Add a Curriculum", new_curriculum_path %></li>
              <%end %>
            </ul>
          </li>

          <!-- options for camps -->
          <li class="has-dropdown">
            <%= link_to "Camps", camps_path %>
            <ul class="dropdown">
              <li><%= link_to "List Camps", camps_path %></li>
              <% if can? :create, Camp %>
                <li><%= link_to "Add a Camp", new_camp_path %></li>
              <% end %>
            </ul>
          </li>

          <!-- options for instructors -->
          <li class="has-dropdown">
            <!-- <a href="#">Instructors</a> -->
            <%= link_to "Instructors", instructors_path %>
            <ul class="dropdown">
              <li><%= link_to "List Instructors", instructors_path %></li>
              <% if can? :create, Instructor %>
                <li><%= link_to "Add an Instructor", new_instructor_path %></li>
              <% end %>
            </ul>
          </li>
          <% if can? :read, Family %>
          <li class="has-dropdown">
            <!-- <a href="#">Instructors</a> -->
            <%= link_to "Families", families_path %>
            <ul class="dropdown">
              <li><%= link_to "List Families", families_path %></li>
              <% if can? :create, Family %>
                <li><%= link_to "Add a Family", new_family_path %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <li class="has-dropdown">
            <!-- <a href="#">Instructors</a> -->
            <%= link_to "Students", students_path %>
            <ul class="dropdown">
              <li><%= link_to "List Students", students_path %></li>
              <% if can? :create, Student %>
                <li><%= link_to "Add a Student", new_student_path %></li>
              <% end %>
            </ul>
          </li>
          <li class="has-dropdown">
            <!-- <a href="#">Instructors</a> -->
            <%= link_to "Locations", locations_path %>
            <ul class="dropdown">
              <li><%= link_to "List Locations", locations_path %></li>
              <% if can? :create, Location %>
                <li><%= link_to "Add a Location", new_location_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <li class="right">
          <% if logged_in? %>
            <ul class="right">
              <li class="has-dropdown">
              <%= link_to "Welcome, #{current_user.username.capitalize}", user_path(current_user) %>
              <ul class="dropdown">
                <li><%= link_to "View dashboard", users_url(current_user) %></li>
                <li><%= link_to "View settings", user_path(current_user) %></li>
                <li><%= link_to "Edit settings", edit_user_path(current_user) %></li>
                <li><%= link_to "Logout", logout_path %></li>
              </ul>
            </li>
          <% else %>
            <%= link_to "click here to login", login_path %>
          <% end %>
        </li>
      </section>
    </nav>
  </div>