<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
 <script>
 $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
<div class="row">
	<div id="tabs">
	  <ul>
	    <li><a href="#tabs-1">Deposit Registrations</a></li>
	    <li><a href="#tabs-2">Full Registrations</a></li>
	    <li><a href="#tabs-3">Instructor Assignments</a></li>
	    <li><a href="#tabs-4">Camps</a></li>
	  </ul>
	  <div id="tabs-1">
	    <%= render :partial => 'deposit_registrations' %>
	  </div>
	  <div id="tabs-2">
	    <%= render :partial => 'full_registrations' %>
	  </div>
	  <div id="tabs-3">
	    <%= render :partial => 'instructor_assignments' %>
	  </div>
	  <div id="tabs-4">
		  	</br>
		  	</br>
	      	<div class="panel clearfix">
		      <h5><strong>Camp statistics</strong></h5>
		      <p>
		        <strong><%= @upcoming_camps.size %></strong> upcoming camps <br>
		        <strong><%= Instructor.active.size %></strong> active instructors <br>
		        <strong><%= Family.active.size %></strong> active families <br>
		        <strong><%= Student.active.size %></strong> active students <br>
		        <% if@upcoming_camps.size >0 %>
		        <strong><%= @upcoming_registrations / @upcoming_camps.size%></strong> average registrations per camp <br>
		        <% end %>
		    </div>
		    <%= render :partial => "camps", locals: { status: "Upcoming", camps: @upcoming_camps } %>
		    <p>&nbsp;</p>
		    <%= render :partial => "camps", locals: { status: "Past", camps: @past_camps } %>
		    <br />
	 </div>
	</div>
</div>
