<h2> <%= "#{current_user.instructor.first_name.capitalize.pluralize} Dashboard"%></h2>
<h3><%= status %> Camps  
<% if can? :create, Camp %>
      <%= link_to "Add a new camp", new_camp_path, class: "button tiny radius" %>
    <% end %>
</h3>

<table class="table">
  <tr>
    <th width="200">Name</th>
    <th width="120">Start On</th>
    <th width="120">Time</th>
    <th width="60">Student</th>
    <% if current_user.role == "admin" %>
      <th width="60">Payments Received</th>
    <% end %>
  </tr>

<% @upcoming_camps.each do |camp| %>
  <tr>
    <td><%= link_to camp.name, camp_path(camp) %></td>
    <td align="center"><%= camp.start_date.strftime('%m/%d/%y') %></td>
    <td align="center"><%= camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
    <td align="center"><%= camp.registrations.size %></td>
    <% if current_user.role == "admin" %>
      <td align="center"><%= camp.registrations.paid.size * camp.cost%></th>
    <% end %>
  </tr>
<% end %>
</table>    

<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @upcoming_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>