<%= simple_nested_form_for @user, :html => { :multipart => true } do |user_form| %>
   <div class="row">
        <fieldset>
          <legend><%= controller.action_name.capitalize %>User Settings</legend>
          <%= render :partial => "user_fields", :locals => { :f => user_form } %>
          <legend>Instructor Settings</legend>
	        <div>
	          <%= user_form.simple_fields_for :user do |instructor_form| %>
	            <%= render :partial => "instructor_fields", :locals => { :f => instructor_form } %>
	          <% end %> 
	          <p>
	            <br />
	          </p>
	        </div> 
        </fieldset>
    </div>
<div class="form-actions">
  <%= user_form.submit nil, :class => 'button radius' %>
  <%= link_to 'Cancel', users_path, :class => 'button secondary' %>
</div>
<% end %>