</br>
<h3>Full Registrations &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% if can? :create, Registration %>
      <%= link_to "Add a new registration", new_registration_path, class: "button tiny radius" %>
    <% end %>
</h3>

<table class="table">
  <tr>
    <th width="200">Student Name</th>
    <th width="200">Payment Status</th>
    <% if can? :edit, Registration %>
    <th></th>
    <% end %>
  </tr>

<% @full_registrations.each do |registration| %>
  <tr>
    <td><%= link_to registration.student.name, student_path(registration.student) %></td>
    <td align="center"><%= registration.payment_status %></td>
    <% if can? :edit, Registration %>
      <td><%= link_to 'Edit', edit_registration_path(registration), class: "button tiny radius" %></td>
    <% end %>
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @full_registrations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>